{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Destination</th>
                <th>Tracking Link</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                <tr>
                    <td>{{ link.id }}</td>
                    <td>{{ link.name }}</td>
                    <td>{{ link.destination }}</td>
                    <td>
                        <a href="http://codetest.dev/click?linkId={{ link.id }}">
                        <pre>http://codetest.dev/click?linkId={{ link.id }}</pre>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}